---
layout: default
title: Blog
category : pages
permalink: /Blog/
---


<main class="content" role="main">
<table style="width:100%">
	<colgroup>
	<col style="width:25%">
	<col style="width:75%">
	</colgroup>  
	<tbody>
    {% if site.tags.featured %}
      {% for post in site.tags.featured %}
		<tr>
			<td><b>{{ post.date | date_to_long_string }}</b></td>
			<td><a href="{{ post.url }}" itemprop="url"> {{ post.title }}</a></td>
		</tr>
	  {% endfor %}
     {% endif %}
	</tbody>
</table>
</main>
