---
layout: default
---

<main class="content" role="main">


I am a graduate student working on molecular biology at Institute for Cellular and Molecular Biology in University of Texas at Austin at the <a href="https://sites.cns.utexas.edu/lambowitz">Lambowitz's lab</a>. My work is primarily focusing on RNA-seq. We use a new <a href='http://www.ingex.com/tgirt-kit/'>reverse transcriptase</a> as our main enzyme for this purpose. Before that, I was trained as a cell biologist under <a href='http://mechanical.illinois.edu/directory/faculty/nwangrw'>Wang's Lab</a> working on mechanobiology.  

<div align="center">
	<br><br><a  href="https://scholar.google.com/citations?user=avA3c5MAAAAJ&amp;hl=en"><img align="center" src="http://www.medscidiscovery.com/images/ghat.png" alt="" width="24" height="24"></a>&nbsp; &nbsp; &nbsp;
	<a  href="https://github.com/wckdouglas"><img align="center" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt="" width="24" height="24"></a> &nbsp; &nbsp; &nbsp;
	<a  href="https://twitter.com/wckdouglas"><img align="center" src="https://cdn4.iconfinder.com/data/icons/black-icon-social-media/512/099375-twitter-logo-square.png" alt="" width="24" height="24"></a>
</div>
