<style>
<link rel="stylesheet" type="text/css" media="screen" href="{{ "/css/main.css"  | prepend: site.baseurl  }}"/>
<link rel="stylesheet" type="text/css" media=all" href="{{ "/css/print.css"  | prepend: site.baseurl  }}" />
<link rel="stylesheet" type="text/css" media="all" href="{{ "/css/syntax.css"  | prepend: site.baseurl  }}" />
</style>

<script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

{% include javascripts.html %}
<!-- header start -->
    <!-- menu bar header-->
	<div class="teaserimage">
    		<div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
		        Teaser Image
	    	</div>
	</div>
	<div id='sticker'>
	<header class="blog-header">
	    {% if site.logo %}
	      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
	    {% endif %}
	    <h1 class="blog-title">{{ site.title }}</h1>
	    <h2 class="blog-description">{{ site.description }}</h2>
		<!-- menu bar #############################################################################-->
	    <div class="custom-links">
			<p>
			{% for page in site.pages %}
				<a href="{{ page.url }}"> {{ page.title }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
			{% endfor %}
			<p>
			<p>
			{% for social in site.social %}
				{% if social.url %}
					<a class="icon-{{ social.icon }}" href="{{ social.url }}">
					<i class="fa fa-{{ social.icon }}"></i>
					</a>&nbsp;&nbsp;&nbsp;&nbsp;
				{% endif %}
			{% endfor %}
			<p>
	    </div>
		<!-- menu bar end ##########################################################################-->
    </header>
	</div>
	<!-- added this twitter block ############################-->
	<div id='sticker'>
		<object align="right" width="300">
		<a class="twitter-timeline" href="https://twitter.com/wckdouglas" data-widget-id="591354064190840832">Tweets by @DouglasWu1</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</object>
	</div>

<!-- header end -->
