<!DOCTYPE html>
<html>

  {% include javascripts.html %}
  {% include head.html %}

  <body>

    {% include header.html %}


	<!--post contents-->
    <div class="page-content">
        <div style="text-align:justify">
			<div class="wrapper">
				{{ content }}
			</div>
		</div>
	</div>
    <!-- content end -->
    {% include footer.html %}
    {% include javascripts.html %}

  </body>

</html>
